In [1]:
import pandas as pd
# fit and evaluate an AR model
from pandas import read_csv
from matplotlib import pyplot
from statsmodels.tsa.arima_model import ARIMA
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error
import numpy
from math import sqrt

In [2]:
def difference(dataset):
    diff = []
    for row in dataset:
        diff_row = []
        for i in range(0, len(row)):
            value = int(row[i].replace(',', ''))# - int(row[i-1].replace(',', ''))
            diff_row.append(value)
        diff.append(diff_row)
    return numpy.array(diff)

# Make a prediction give regression coefficients and lag obs
def predict(coef, history):
    yhat = coef[0]
    for i in range(1, len(coef)):
        yhat += coef[i] * history[-i]
    return yhat
 
df = read_csv('urban_claims.csv', header=0, index_col=0)

In [3]:
# split dataset
X = difference(df.values)
size = int(len(X) * 0.66)
train, test = X[0:size], X[size:]

In [4]:
train

array([[ 21627302,  21558748,  21760083,  21744241,  21525066],
       [   796055,    864833,    854367,    755249,    775673],
       [ 19519007,  20813637,  21596162,  22142241,  22509294],
       [  9807375,  10237131,  10714818,  11096737,  11234314],
       [125176022, 127675796, 129207879, 131950254, 132461615],
       [ 12433664,  13557986,  14104457,  14407473,  14662292],
       [ 14245402,  14636306,  15313308,  15755226,  15997715],
       [  2724335,   2780935,   2905604,   3042187,   3139842],
       [  1856146,   1953018,   1991992,   2020207,   2050753],
       [ 98040154, 100973899, 103276327, 104681602, 105011332],
       [ 31141169,  33268781,  34768937,  35978379,  36817750],
       [  3479988,   3394872,   3235077,   3189955,   3113306],
       [  3826917,   3951992,   4203866,   4352716,   4442947],
       [ 37770410,  40542843,  41884842,  42702709,  43487241],
       [ 23042571,  23871401,  24651266,  25924435,  26442766],
       [  8727530,   8897518,   9091690,   9251739,   9353470],
       [  7576562,   7858705,   8166632,   8445253,   8446311],
       [ 13519915,  13954314,  14440429,  15101627,  15246953],
       [ 20005571,  20535449,  21304528,  21781109,  21992999],
       [  3315532,   3417180,   3408597,   3450979,   3521242],
       [ 14645589,  16072121,  16978841,  17643127,  18077324],
       [ 28919771,  30081243,  30974498,  33355289,  34173667],
       [ 36179615,  37920928,  39340862,  40957303,  41629568],
       [ 13874334,  14181088,  14479719,  15139858,  15736660],
       [  6939298,   7147317,   7382194,   7659476,   7802971],
       [ 23034739,  24130144,  24919801,  25382235,  25810533],
       [  1721384,   1780892,   1791604,   1832958,   1869229],
       [  4717556,   4919043,   5113256,   5330241,   5550330],
       [  7797614,   8150516,   8534616,   8739457,   9049006],
       [  2627542,   2765352,   2908536,   3057058,   3135914],
       [ 33470997,  34071311,  34953647,  35942261,  36114503],
       [  4465563,   4576170,   4836810,   4994346,   5066541],
       [ 82258162,  84747473,  86274362,  88328739,  89391162]])

In [5]:
model = LinearRegression().fit(train[:, 0:4], train[:, 4:5])

In [6]:
r2 = model.score(test[:, 0:4], test[:, 4:5])
print(r2)

0.9996404087930681

In [7]:
numpy.set_printoptions(formatter={'float_kind':'{:f}'.format})

In [8]:
preds_urban_2018 = model.predict(train[:, 1:5])
print(preds_urban_2018)

[[21387319.897750]
 [837571.771255]
 [22717312.564881]
 [11368417.145852]
 [131840030.081373]
 [14839841.570219]
 [16190203.411538]
 [3233110.889967]
 [2110351.097241]
 [104933933.937082]
 [37253571.134924]
 [3065763.789603]
 [4563625.676026]
 [43829858.393522]
 [26605186.568137]
 [9416555.384644]
 [8507619.075957]
 [15327269.414908]
 [22151077.659823]
 [3565684.965003]
 [18377659.381543]
 [34316102.605497]
 [41900470.386795]
 [15914101.002422]
 [7897150.781923]
 [26022755.654893]
 [1921854.433995]
 [5683292.171651]
 [9248902.154569]
 [3227473.076894]
 [36129683.053699]
 [5177531.652328]
 [89394607.032948]]

In [10]:
preds_urban_2018 = pd.DataFrame(preds_urban_2018)
preds_urban_2018.head()

              0
0  2.138732e+07
1  8.375718e+05
2  2.271731e+07
3  1.136842e+07
4  1.318400e+08

In [11]:
preds_urban_2018.to_csv(r'../data/preds_urban_2018.csv')

In [9]:
df['2017']

Location
Alabama                   21,525,066
Alaska                       775,673
Arizona                   22,509,294
Arkansas                  11,234,314
California               132,461,615
Colorado                  14,662,292
Connecticut               15,997,715
Delaware                   3,139,842
District of Columbia       2,050,753
Florida                  105,011,332
Georgia                   36,817,750
Hawaii                     3,113,306
Idaho                      4,442,947
Illinois                  43,487,241
Indiana                   26,442,766
Iowa                       9,353,470
Kansas                     8,446,311
Kentucky                  15,246,953
Louisiana                 21,992,999
Maine                      3,521,242
Maryland                  18,077,324
Massachusetts             34,173,667
Michigan                  41,629,568
Minnesota                 15,736,660
Mississippi                7,802,971
Missouri                  25,810,533
Montana                    1,869,229
Nebraska                   5,550,330
Nevada                     9,049,006
New Hampshire              3,135,914
New Jersey                36,114,503
New Mexico                 5,066,541
New York                  89,391,162
North Carolina            39,810,574
North Dakota               2,140,700
Ohio                      50,176,453
Oklahoma                  10,793,150
Oregon                    12,972,159
Pennsylvania              64,402,850
Rhode Island               6,298,960
South Carolina            20,763,631
South Dakota               2,097,022
Tennessee                 29,211,512
Texas                     80,069,044
Utah                       6,782,758
Vermont                      865,681
Virginia                  25,011,318
Washington                21,633,919
West Virginia              8,790,753
Wisconsin                 19,286,389
Wyoming                      726,370
Name: 2017, dtype: object